 html,body{
  margin: 0;
 }
 h2{
  color: #4e2525;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 
  'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 30px;
 }
 .moto{
  text-align: center;
  color: #8f5252;
  border: 10px dashed darkblue;
  box-shadow: 10px 30px 40px rgb(250, 114, 114);
  margin: 10px 400px 10px;
  border-radius: 25px;
  padding: 10px;
 }
 #border{
  color: #000;
  border: 7px solid darkgoldenrod;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 10px 150px 10px;
  border-radius: 25px;
  padding: 20px;
  border-bottom: none ;
  box-shadow: 10px 30px 40px rgb(91, 0, 109);

 }
 #log{
  text-align: center;
  padding: 40px;

 }